
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');
/* font-family: 'Roboto', sans-serif;  */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;700;800&display=swap');
/*font-family: 'Dosis', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500;600;700&display=swap');
/*font-family: 'Raleway', sans-serif;*/




:root{
    --maincolor:#ff724c;
}

.container{
    max-width: 1140px !important;
}

.bg-main-color{
    background-color: var(--maincolor);
}

.text-main-color{
    color: var(--maincolor);
}
.border-main-color{
    border-color:var(--maincolor) !important;
}
.buttn i{
    transition: 0.7s;
}
.buttn:hover i {
    transform: rotate(360deg);
    color: white !important;
    background-color: black !important;
}
.navbar .nav-link{
    padding-block: 10px;
    position: relative;
}
.navbar .nav-link::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.5px;
    width: 0;
    background-color: var(--maincolor);
    transition: 0.5s;
}
.navbar .nav-link.active::after{
    width: 100%;
}
.navbar .nav-link:hover::after{
    width: 100%;
}
.header{
    background-image: url(assets/img/introbg5.png);
    background-size:cover;
    background-position-y:-58px ;
    background-position-x: -5px;
}
.header p, .header span{
    font-family: 'Dosis', sans-serif;
    font-size: 23px;
}

h1{
    font-size: 60px;
    font-weight: 700;
}

.header .icons i{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid;
    border-radius: 50%;
    transition: 0.5s;
}

.header .icons i:hover{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.header .icons i:nth-of-type(1){
    color:#3b5999;
    border-color: #3b5999;
}
.header .icons i:nth-of-type(1):hover{
    background-color:  #3b5999;
    color:white;
}
.header .icons i:nth-of-type(2){
    color:#ea4c89;
    border-color: #ea4c89;
}
.header .icons i:nth-of-type(2):hover{
    background-color:  #ea4c89;
    color:white;
}
.header .icons i:nth-of-type(3){
    color:#3771ff;
    border-color: #3771ff;
}
.header .icons i:nth-of-type(3):hover{
    background-color:  #3771ff;
    color:white;
}
.header .icons i:nth-of-type(4){
    color:#1786c0;
    border-color: #1786c0;
}
.header .icons i:nth-of-type(4):hover{
    background-color:#1786c0;
    color:white;
}
.header .icons i:nth-of-type(5){
    color:#dd4f39;
    border-color:#dd4f39;
}
.header .icons i:nth-of-type(5):hover{
    background-color:#dd4f39;
    color:white;
}
.header-content p{
    
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid #33333333;
    animation: typing 3s;
     -webkit-animation:typing 3s infinite alternate-reverse steps(29) both, blink infinite 0.7s;
}
@keyframes typing{
    form{
        width: 0;
    }
    to{
        width: 285px;
    }
}
@keyframes blink{
    from{
        border-color: #333333b8;
    }
    to{
        border-color: #33333300;
    }
}

/*  end header  */

/* start about */
h2{
    font-size: 48px;
    font-weight: 700;
}
.custom-btn:hover i{
    color:var(--maincolor) !important;
}
.about .container > .row{
    width: 90%;
    margin: auto;
    background-color: #4e4e4e;    
}
/*  end about  */

/*  start services  */
.services-span {
 color: rgb(129, 129, 129);
}
.service {
    text-align: center;
}
.container {
    margin: 0px auto;
}
.section {
    padding: 110px 0px;
}
.service .col-md-12{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.service h5 {
    margin-right: 185px;
    margin-bottom: 15px;
}
.service h5:after {
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: #ff724c;
    bottom: 70px;
    right: 620px;
    content: "";
}
.service .serve {
    margin-top: 35px;
}
.service .serve .services {
    padding: 30px 30px 10px 30px;
    border-radius: 5%;
    position: relative;
    transition: all 1s ease;
}
.service .serve .services:hover::before {
    padding: 40px;
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    padding: 30px 30px 10px 30px;
    border-radius: 5%;
    transition: all 1s ease;
    z-index: -1;
}
.service .serve .services img {
    margin-bottom: 30px;
    vertical-align: middle;
    border-style: none;
}
.service .serve .services h6 {
    margin-bottom: 20px;
}
.service .serve .services:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    background-color: #f3f3f3;
    border-radius: 5%;
    transition: all 1s ease;
    z-index: -1;
}
/*  end services  */

/*  start portfolio  */
.portfolio{
    background-color: #f3f3f3;
}
.portfolio-span{
    color: rgb(129, 129, 129);

}
.portfolio .nav-link{
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    color: #7b7b7b;
    border-color: #7b7b7b !important;
}
.portfolio .nav-link.active{
    background-color: var(--maincolor);
    border: none !important;
    border-color: var(--maincolor);
}
.overlay{
    background-color:rgba(0,0,0,0.1);
    transform:scaleY(0);
    transition: 0.5s 0.2s;
}
.project-card:hover .overlay{
    transform:scaleY(1);
}
.overlay i{
    transform: rotate(0Deg) scale(0);
    transition: 0.5s 0.2s;
    cursor: pointer;
}
.project-card:hover .overlay i{
    transform: rotate(360Deg) scale(1);
}
.overlay i:hover{
    background-color: transparent;
    border: 1px solid white;
    color:var(--maincolor) !important;
}
.project-card .info{
    bottom:40px;
    transition:0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
    opacity:0;
}
.project-card:hover .info{
    bottom:0;
    opacity:1;
} 
/*  end portfolio  */

/*  start resume  */
.resume .head i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.resume-span {
   color: rgb(129, 129, 129);
}
.resume .head{
    position:relative;
}
.resume .head::before , .resume .item:not(:last-of-type)::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #333;
    top:25px;
    left:18px;
    z-index:-1;
}
.resume .item::after{
    content: '';
    position: absolute;
    width:12px;
    height: 12px;
    top:25px;
    left:12px;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border:1px solid var(--maincolor);
}
.resume .head:hover i{
    background-color: #f3f3f3;
    color: var(--maincolor) !important;
}
.resume .item:hover::after{
    background-color: var(--maincolor);
}
.bar{
    height: 5px;
    background-color: #333;
    position:relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.bar::after{
    content:'';
    position: absolute;
    left:0;
    top:0;
    background-color: var(--maincolor);
    height: 100%;
    width: 80%;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

.item[percentage=80%] .bar::after{
    width: 80%;
}
.item[percentage=70%] h4{
    width: 70%;
}
.item[percentage=70%] .bar::after{
    width: 70%;
}
.item[percentage=55%] h4{
    width: 55%;
}
.item[percentage=55%] .bar::after{
    width: 55cm;
}
.resume-img{
    width: 500px;
    height: 390px;
}
/*  end resume  */

/*  start download resume   */
.download-resume{
    background:linear-gradient(rgba(59,59,59,0.75), rgba(59,59,59,0.75)), url(assets/img/brandbg.png);
    background-size: cover;
    background-repeat: no-repeat;
}   

.download-resume p{
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
}
.download-resume a{
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    transition:0.4s; 
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -ms-transition:0.4s;
    -o-transition:0.4s;
}
.download-resume a:hover{
    background-color: var(--maincolor);
    border-color: var(--maincolor) !important;
}

/*  end download resume  */


/*  start testimonials  */
.testimonials .quote span{
    color: #5b5b5b;
    font-size: 14px;
}
.testimonials .quote i{
    font-size: 20px;
}
.testimonials .quote:hover{
    background-color: #5b5b5b;
    color: white;
}
.testimonials .quote:hover span{
    color: white;
}
.carousel-indicators{
    bottom:-100px;
}
.carousel-indicators [data-bs-target]{
    background-color: white;
    border-color: var(--maincolor);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border:1px solid var(--maincolor);
}
.carousel-indicators .active{
    background-color: var(--maincolor);   

}
.testimonials span{
    color: rgb(129, 129, 129);
}


    /*  end testimonials  */


    /*  start contact  */
    .contact{
        background-image: linear-gradient(rgba(255,114,76,0.85),rgb(255,114,76,0.85)),  url(assets/img/contactbg.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .w-57{
        width:57%;
    }
    .contact input:focus, .contact textarea:focus{
        border: 1px solid white !important;
        box-shadow: none;
    }
    .contact input::placeholder, .contact textarea::placeholder{
        color: white;
    }
    .btn-1 {
        border-radius: 30px;
        font-family: 'Raleway', sans-serif;
        padding: 0px 15px 0px 0px;
        background-color: #f3f3f3;
    }
    .btn-1 i {
        margin-right: 14px;
        padding: 15px 20px;
        border-radius: 30px 0% 0% 30px;
        background-color: #3b3b3b;
        color:#f3f3f3;
    }
    
    .btn-1:hover i{
        color: #ff724c;
    }
   /*  end contact  */

   /*  start map  */
   .contact-info .container{
    background-color: #282828;
   }
   .contact-info i{
        color: var(--maincolor);
        width: 30px;
        height: 30px;
        background-color: #f3f3f3;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        transition: 0.4s transform , 0.4s color;
        -webkit-transition: 0.4s transform , 0.4s color;
        -moz-transition: 0.4s transform , 0.4s color;
        -ms-transition: 0.4s transform , 0.4s color;
        -o-transition: 0.4s transform , 0.4s color;
}
   .contact-info i:hover{
        color: white;
        background-color: var(--maincolor);
        transform: rotate(360Deg);
        -webkit-transform: rotate(360Deg);
        -moz-transform: rotate(360Deg);
        -ms-transform: rotate(360Deg);
        -o-transform: rotate(360Deg);
}
/*  end map  */

/*  start footer  */
footer{
    background-color: #f3f3f3;
}
footer p{
    font-family: 'Raleway', sans-serif; 
    color: #818181;
}
/*  end footer  */

